.navbar{
  width: calc(100vw - 40px);
  height: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, #29A4FE, #5988EF);
  /* background-color: #1F2731; */
  color: white;
}